@media screen and (max-width:992px) {
    .menubar {
        display: block;
    }

    .nav-btn {
        display: none;
    }

    .hero-container {
        flex-direction: column;
    }
    
    .hero-info {
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .about-section {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }

    .time-save .section-title {
        padding: 0px;
    }

    .time-save-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .menu {
        display: none;
    }

    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-item {
        flex-direction: column;
        gap: 20px;
    }

    .feature-item-icon  {
        width: 100%;
    }

    .feature-item-info {
        width: 100%;
        text-align: center;
    }

    .framework-information-container {
        grid-template-columns: 1fr;
    }

    .solution-container {
        width: 90%;
    }

    .time-save-container {
        grid-template-columns: 1fr;
    }

    .time-save-card {
        text-align: center;
    }

    .team-container {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width:576px) {

    .section-title {
        font-size: 3rem;
    }

    .hero-title,
    .solution-title {
        font-size: 3.2rem;
    }

    .service-section {
        padding: 50px 0px;
    }

    .service-container {
        grid-template-columns: 1fr;
    }

    .feature-item {
        padding: 20px;
    }

    .feature-item-icon i {
        font-size: 7rem;
    }

    .our-framework-container {
        width: 100%;
    }

    .solution-container {
        width: 100%;
    }

    .team-member-info {
        padding: 10px 20px;
    }
}

@media screen and (max-width:375px) {
    .section-title {
        font-size: 2.5rem;
    }

    .hero-framework-tag {
        flex-direction: column;
        gap: 10px;
        width: 250px;
        margin: 0 auto;
    }
    
    .hero-title,
    .solution-title {
        font-size: 2.5rem;
    }

    .our-framework-desc{
        font-size: 1rem;
    }
}