@media screen and (max-width:992px) {
    .menubar {
        display: block;
    }

    .nav-btn {
        display: none;
    }

    .hero-container {
        flex-direction: column;
    }
    
    .hero-info {
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .hero-title {
        font-size: 3.2rem;
    }
}

@media screen and (max-width:375px) {
    .hero-framework-tag {
        flex-direction: column;
        gap: 10px;
        width: 250px;
        margin: 0 auto;

    }
    
    .hero-title {
        font-size: 2.5rem;
    }
}