/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

::selection {
    background-color: #13e5c0;
    color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 82%;
    margin: 0 auto;
}

.btn {
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}

.btn-primary {
    border: 2px;
    color: #19303d;
    background-color: #13e5c0;
}

.btn-dashed {
    border: 2px dashed #19303d;
    color: #19303d;
    background-color: transparent;
}

.btn-primary:hover,
.btn-dashed:hover {
    background-color: #19303d;
    color: #fff;
}

.section-title {
    font-size: 3.8rem;
    color: #19303d;
    text-align: center;
}

/* Header Section Start */

/* Navbar Start */
.menubar {
    font-size: 2rem;
    font-weight: 600;
    color: #19303d;
    cursor: pointer;
    display: none;
}

nav {
    padding: 10px 0px;
    background-color: #c6ffe0;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    color: #232323;
    cursor: pointer;
    transition: all .3s;
}

.logo:hover {
    color: #000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.1rem;
    font-weight: 600;
}

.menu li a {
    color: #19303d;
    transition: all .3s;
}

.menu li a:hover {
    color: #13e5c0;
}
/* Navbar End */

/* Hero Section Start */
.hero-section {
    background-color: #c6ffe0;
    padding: 80px 0px;
}

.hero-framework-tag {
    background-color: #fff;
    border: 2px dashed #19303d;
    padding: 8px 15px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-framework-tag .ri-draft-line {
    color: #19303d;
    font-size: 1.5rem;
}

.hero-framework-tag p {
    font-size: 1.3rem;
    color: #19303d;
}

.hero-right-arrow {
    background-color: #13e5c0;
    border: 2px dashed #19303d;
    color: #fff;
    padding: 4px 6px;
    border-radius: 100%;
}

.hero-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-info {
    width: 55%;
    color: #19303d;
}

.hero-title {
    font-size: 4.3rem;
}

.hero-desc {
    font-size: 1.3rem;
    margin: 30px 0px;
    line-height: 31px;
}

.hero-img {
    width: 45%;
}

.hero-img img {
    width: 100%;
    border-radius: 10px;
}

/* Hero Section End */

/* Header Section End */

/* Service Section Start */
.service-section {
    padding: 80px 0px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-item {
    text-align: center;
    color: #232323;
}

.service-item i {
    font-size: 5rem;
    color: #13e5c0;
}

.service-item h3 {
    font-size: 1.3rem;
    margin: 20px 0px;
}

.service-item p {
    font-size: 1.1rem;
    line-height: 26px;
}

/* Service Section End */

/* About Section Start */
.about-section {
    padding: 80px 0px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
}

.about-info {
    width: 50%;
}

.about-sub-title {
    font-size: 1.3rem;
    color: #232323;
    margin: 40px 0px 20px;
}

.about-title {
    font-size: 1.6rem;
    color: #232323;
}

.about-desc {
    font-size: 1.1rem;
    color: #19303d;
    margin: 20px 0px 40px;
    line-height: 26px;
}

.about-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.about-icon i {
    font-size: 1.6rem;
    color: #13e5c0;
    padding: 8px;
    border: 2px dashed #19303d;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}

.about-icon i:hover {
    background-color: #13e5c0;
    color: #19303d;
}

.about-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-btn i {
    padding: 5px;
    font-size: .8rem;
    background-color: #c6ffe0;
    color: #19303d;
    border: 1px dashed #19303d;
    border-radius: 50%;
}

.about-btn h4 a {
    color: #132835;
    cursor: pointer;
    font-size: 1.1rem;
}

.about-btn-two {
    margin-top: 10px;
}

/* About Section End */

/* Feature Section Start */

.feature-section {
    padding: 80px 0px;
}

.feature-item-container {
    margin-top: 50px;
    display: grid;
    gap: 30px;
}

.feature-item {
    border: 2px dashed #19303d;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    align-items: center;
}

.feature-item-icon {
    width: 40%;
    text-align: center;
}

.feature-item-icon i {
    color: #13e5c0;
    font-size: 10rem;
}

.feature-item-info {
    width: 60%;
}

.feature-item-title {
    font-size: 1.6rem;
    font-weight: 700px;
    color: #19303d;
}

.feature-item-desc {
    font-size: 1.1rem;
    color: #353535;
    line-height: 26px;
    margin: 20px 0px;
}

/* Feature Section End */

/* Why our Framework Start */
.why-our-framework {
    padding: 80px 0px;
}

.our-framework-container {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.our-framework-container h2 a {
    color: #19303d;
    font-weight: 600;
    transition: color .3s;
}

.our-framework-container h2 a:hover {
    color: #353535;
    font-weight: 600;
}

.our-framework-desc {
    font-size: 1.3rem;
    color: #19303d;
    line-height: 31px;
    margin-top: 30px;
}

/* Why our Framework End */

/* Framework Information Section Start */
.framework-information {
    padding: 80px 0px;
}

.framework-information-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.framework-information-one {
    background-color: #19303d;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    grid-row: span 2;
}

.framework-information-one a {
    color: #fff;
    font-size: 1.1rem;
}

.framework-information-one a:hover i {
    padding-left: 5px;
    transition: all .3s;
}

.framework-information-one h3 {
    font-size: 1.6rem;
}

.framework-information-one p {
    font-size: 1.1rem;
    line-height: 26px;
    margin: 20px 0px;
}

.framework-information-two {
    border: 2px dashed #132835;
    padding: 20px;
    border-radius: 10px;
}

.framework-information-two h3 {
    color: #132835;
    font-size: 1.6rem;
}

.framework-information-two p {
    color: #353535;
    font-size: 1.1rem;
    line-height: 26px;
    margin: 20px 0px;
}

.framework-information-two div {
    text-align: right;
}

.framework-information-two div i {
    font-size: 1rem;
    color: #fff;
    background-color: #19303d;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s;
}

.framework-information-two:hover div i {
    margin-right: 0px;
    background-color: #13e5c0;
}

/* Framework Information Section End */

/* Solutions Section Start */
.solution-section {
    padding: 80px 0px;
    background-color: #19303d;
    color: #fff;
}

.solution-container {
    width: 75%;
    margin: 0 auto;
}

.solution-info {
    text-align: center;
}

.solution-title {
    font-size: 3.8rem;
    word-spacing: -10px;
}

.solution-desc {
    font-size: 1.3rem;
    line-height: 31px;
    margin: 30px 0px;
}

.solution-info .btn-primary:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.solution-img {
    margin-top: 40px;
}

.solution-img img {
    width: 100%;
    border-radius: 10px;
}

/* Solutions Section End */

/* Time Save Section Start */
.time-save {
    padding: 80px 0px;
}

.time-save .section-title {
    padding: 0px 25px;
}

.time-save-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.time-save-card {
    border: 2px dashed #132835;
    padding: 30px;
    background-color: #f4fcf9;
    border-radius: 5px;
}

.time-save-title {
    font-size: 3.8rem;
    color: #19303d;
}

.time-save-desc {
    font-size: 1.1rem;
    color: #19303d;
    margin-top: 15px;
    line-height: 26px;
}

/* Time Save Section End */

/* Our Team Section Start */
.team-section {
    padding: 80px 0px;
}

.team-section-title {
    color: #132835;
    text-align: center;
}

.team-section-title h2 {
    font-size: 4.6rem;
    word-spacing: -10px;
}

.team-section-title p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.team-member {
    border: 2px dashed #132835;
    border-radius: 5px;
    position: relative;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-member-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding:10px;
    background-color: rgba(35, 35, 35, 0.397);
}

.member-info {
    color: #fafafa;
}

.member-info h3 {
    font-size: 1.3rem;
}

.member-info p {
    font-size: 1.1rem;
}

.team-member-info i {
    padding: 10px;
    background-color: #13e5c0;
    color: #132835;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}

/* Our Team Section End */

/* Our Developers Section Start */
.our-developers {
    padding: 80px 0px;
}

.developers-section-title {
    font-size: 1.6rem;
    color: #232323;
}

.developers-container {
    margin-top: 30px;
    display: grid;
    gap: 20px;
}

.developer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4fcf9;
    color: #232323;
    border-radius: 5px;
    transition: all .3s;
}

.developer:hover {
    background-color: #19303d;
    color: #fff;
}

.developer i {
    font-size: 1rem;
    color: #fff;
    background-color: #13e5c0;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s;
}

.developer-info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.developer-title {
    font-size: 1.3rem;
}

.developer-name {
    font-size: 1.1rem;
}

/* Our Developers Section End */

/* Clients Section Start */

.clients-section {
    padding: 80px 0px;
    background-color: #c6ffe0;
}

.clients-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    text-align: center;
}

.clients-container img {
    width: 150px;
}
/* Clients Section End */