/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 82%;
    margin: 0 auto;
}

.btn {
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}

.btn-primary {
    border: 2px;
    color: #19303d;
    background-color: #13e5c0;
}

.btn-dashed {
    border: 2px dashed #19303d;
    color: #19303d;
    background-color: transparent;
}

.btn-primary:hover,
.btn-dashed:hover {
    background-color: #19303d;
    color: #fff;
}

.section-title {
    font-size: 3.8rem;
    color: #19303d;
    text-align: center;
}

/* Header Section Start */

/* Navbar Start */
.menubar {
    font-size: 2rem;
    font-weight: 600;
    color: #19303d;
    cursor: pointer;
    display: none;
}

nav {
    padding: 10px 0px;
    background-color: #c6ffe0;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    color: #232323;
    cursor: pointer;
    transition: all .3s;
}

.logo:hover {
    color: #000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.1rem;
    font-weight: 600;
}

.menu li a {
    color: #19303d;
    transition: all .3s;
}

.menu li a:hover {
    color: #13e5c0;
}
/* Navbar End */

/* Hero Section Start */
.hero-section {
    background-color: #c6ffe0;
    padding: 80px 0px;
}

.hero-framework-tag {
    background-color: #fff;
    border: 2px dashed #19303d;
    padding: 8px 15px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-framework-tag .ri-draft-line {
    color: #19303d;
    font-size: 1.5rem;
}

.hero-framework-tag p {
    font-size: 1.3rem;
    color: #19303d;
}

.hero-right-arrow {
    background-color: #13e5c0;
    border: 2px dashed #19303d;
    color: #fff;
    padding: 4px 6px;
    border-radius: 100%;
}

.hero-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-info {
    width: 55%;
    color: #19303d;
}

.hero-title {
    font-size: 4.3rem;
}

.hero-desc {
    font-size: 1.3rem;
    margin: 30px 0px;
    line-height: 31px;
}

.hero-img {
    width: 45%;
}

.hero-img img {
    width: 100%;
    border-radius: 10px;
}

/* Hero Section End */

/* Header Section End */

/* Service Section Start */
.service-section {
    padding: 80px 0px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-item {
    text-align: center;
    color: #232323;
}

.service-item i {
    font-size: 5rem;
    color: #13e5c0;
}

.service-item h3 {
    font-size: 1.3rem;
    margin: 20px 0px;
}

.service-item p {
    font-size: 1.1rem;
    line-height: 26px;
}

/* Service Section End */

/* About Section Start */
.about-section {
    padding: 80px 0px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
}

.about-info {
    width: 50%;
}

.about-sub-title {
    font-size: 1.3rem;
    color: #232323;
    margin: 40px 0px 20px;
}

.about-title {
    font-size: 1.6rem;
    color: #232323;
}

.about-desc {
    font-size: 1.1rem;
    color: #19303d;
    margin: 20px 0px 40px;
    line-height: 26px;
}

.about-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.about-icon i {
    font-size: 1.6rem;
    color: #13e5c0;
    padding: 8px;
    border: 2px dashed #19303d;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}

.about-icon i:hover {
    background-color: #13e5c0;
    color: #19303d;
}

.about-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-btn i {
    padding: 5px;
    font-size: .8rem;
    background-color: #c6ffe0;
    color: #19303d;
    border: 1px dashed #19303d;
    border-radius: 50%;
}

.about-btn h4 a {
    color: #132835;
    cursor: pointer;
    font-size: 1.1rem;
}

.about-btn-two {
    margin-top: 10px;
}

/* About Section End */

/* Feature Section Start */

.feature-section {
    padding: 80px 0px;
}

.feature-item-container {
    margin-top: 50px;
    display: grid;
    gap: 30px;
}

.feature-item {
    border: 2px dashed #19303d;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    align-items: center;
}

.feature-item-icon {
    width: 40%;
    text-align: center;
}

.feature-item-icon i {
    color: #13e5c0;
    font-size: 10rem;
}

.feature-item-info {
    width: 60%;
}

.feature-item-title {
    font-size: 1.6rem;
    font-weight: 700px;
    color: #19303d;
}

.feature-item-desc {
    font-size: 1.1rem;
    color: #353535;
    line-height: 26px;
    margin: 20px 0px;
}

/* Feature Section End */

/* Why our Framework Start */
.why-our-framework {
    padding: 80px 0px;
}

.our-framework-container {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.our-framework-container h2 a {
    color: #19303d;
    font-weight: 600;
    transition: color .3s;
}

.our-framework-container h2 a:hover {
    color: #353535;
    font-weight: 600;
}

.our-framework-desc {
    font-size: 1.3rem;
    color: #19303d;
    line-height: 31px;
    margin-top: 30px;
}

/* Why our Framework End */